* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(226, 196, 150);
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto; /* Center the wrapper horizontally */
    padding: 20px;
    overflow: hidden; /* Clear floats */
}
main {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0;
}
