/* styles for week 8 people.php and people-view.php files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body background color */
body {
    background: rgb(214, 192, 159);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 100%;
    
}

/* Wrapper for containing the layout */
#wrapper {
    max-width: 1000px;
    margin: 30px auto; /* Centers the wrapper horizontally with 30px top margin */
}

/* Main content area */
main {
    width: 63%; /* 63% width of the wrapper */
    float: left; /* Floats the main content area to the left */
    flex: 1;
}

/* Sidebar */
aside {
    width: 34%; /* 34% width of the wrapper */
    float: right; /* Floats the sidebar to the right */
}

img {
    max-width: 100%;
}


/* Footer */
footer {
    /* position: fixed; */
    border-top: 1px dotted brown;
 
    clear: both; /* Clear floats */
    text-align: center;
    background-color: aliceblue;
    font-size: 10px;
    color: #0a0a0a;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    justify-content: center;
    margin:15px;
}
footer a{
    font-size: .9em;
}
/* typography*/
h1,h2,h3 {
font-family: 'Times New Roman', Times, serif;
margin-bottom: 10px;
}
p{
    margin-bottom: 20px;
}
ul{
  margin-bottom: 10px;  
  list-style-type: none;
}
li{
   line-height: 1.3; 
}    
figcaption{
    font-style: italic;
}